git+https://github.com/botswana-harvard/edc-base
git+https://github.com/botswana-harvard/edc-metadata.git
git+https://github.com/botswana-harvard/edc-protocol.git
git+https://github.com/botswana-harvard/edc-registration.git
git+https://github.com/botswana-harvard/edc-constants.git
